scikit-learn
#torch==1.2.0
#torchvision==0.4.0
#numpy==1.17.2
pillow
six
scikit-image==0.17.2
tensorboardX
matplotlib
pandas
argparse
scipy
opencv-python
openslide-python
shapely
lmdb
tensorboard
h5py
#lmdb==0.93
